@import '../../../styles/colors';

.btn {
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 700;
  letter-spacing: .125em;
  color: #fff;
  padding: 7px 15px;
  transition: all .2s cubic-bezier(.4, 0, .2, 1);
  border-width: 2px;
  border-radius: 100px;
}

.btn[disabled] {
  opacity: .5;
}

.btn-lg {
  font-size: .8em;
  padding: 10px 25px;
}

.btn-sm {
  font-size: .6em;
  padding: 5px 15px;
}

.btn-xs {
  font-size: .5em;
  padding: 2px 15px;
}

@each $tag, $color in $tags {
  .btn-#{$tag} {
    border-color: $color;
    background-color: $color;

    &:hover:not([disabled]) {
      border-color: lighten($color, 10%);
      background-color: lighten($color, 10%);
      color: #fff;
    }

    &:active,
    &:focus {
      border-color: darken($color, 20%);
      background-color: darken($color, 10%);
      color: #fff;
    }
  }
}

@each $name, $color in $colors {
  .btn-#{$name} {
    border-color: $color;
    background-color: $color;

    &:hover:not([disabled]) {
      border-color: lighten($color, 10%);
      background-color: lighten($color, 10%);
    }

    &:active,
    &:focus {
      border-color: darken($color, 20%);
      background-color: darken($color, 10%);
    }
  }
}

.btn--outlined {
  background-color: transparent;

  @each $tag, $color in $tags {
    &.btn-#{$tag} {
      color: $color;
    }
  }

  @each $name, $color in $colors {
    &.btn-#{$name} {
      color: $color;
    }
  }

  &:active,
  &:focus,
  &:hover:not([disabled]) {
    color: #fff;
  }

  &[disabled]:hover {
    background-color: transparent;
  }
}

.btn--inverse {
  background-color: transparent;
  border-color: #fff;
  color: #fff;

  &:active,
  &:focus,
  &:hover:not([disabled]) {
    border-color: #fff;
    background-color: #fff;

    @each $tag, $color in $tags {
      &.btn-#{$tag} {
        color: $color;
      }
    }

    @each $name, $color in $colors {
      &.btn-#{$name} {
        color: $color;
      }
    }
  }

  &[disabled]:hover {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
  }
}

.btn-group-vertical .btn-group .btn {
  border-radius: 0;
}

.btn-group-vertical .btn-group:first-child .btn {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.btn-group-vertical .btn-group:last-child .btn {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.btn-group .btn-group .btn {
  border-radius: 0;
}

.btn-group .btn-group:first-child .btn {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.btn-group .btn-group:last-child .btn {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.btn-group .btn-group--split {
  .btn:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.dropdown-menu__option {
  cursor: pointer;
}

.dropdown-header {
  text-transform: uppercase;
  font-weight: 900;
  font-size: .7em;
  letter-spacing: .08em;
}

@each $tag, $color in $tags {
  .btn-#{$tag} + .dropdown-menu li:not(.disabled) .dropdown-menu__option {
    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background-color: $color;
    }
  }
}

@each $name, $color in $colors {
  .btn-#{$name} + .dropdown-menu li:not(.disabled) .dropdown-menu__option {
    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background-color: $color;
    }
  }
}
