<!-- example content from
  https://vitalets.github.io/x-editable/demo-bs3.html
-->
<admin-grid>
  <ng-template>
    <admin-panel [showHeader]="true" headerColor="rgb(235,160,104)">
      <header><h3>X-editable</h3></header>

      <div class="form-inline x-editable-controls">
        <div class="form-group">
          <label class="control-label" for="x-editable-mode">Mode </label>
          <select
            [(ngModel)]="mode"
            class="form-control mode-selector"
            id="x-editable-mode"
          >
            <option value="popup">Popup</option>
            <option value="inline">Inline</option>
          </select>
        </div>

        <label class="checkbox-inline">
          <input type="checkbox" [(ngModel)]="disabled">
          {{disabled ? 'Disabled' : 'Enabled' }}
        </label>
      </div>

      <admin-table [striped]="true" [hover]="true">
        <tr>
          <td>Simple text field</td>
          <td>
            <admin-form-x-editable
              title="Enter username"
              [mode]="mode"
              [disabled]="disabled"
            >superuser</admin-form-x-editable>
          </td>
        </tr>
        <tr>
          <td>Empty text field, required</td>
          <td>
            <admin-form-x-editable
              title="Enter your firstname"
              [required]="true"
              [mode]="mode"
              [disabled]="disabled"
            ></admin-form-x-editable>
          </td>
        </tr>
        <tr>
          <td>Select</td>
          <td>
            <admin-form-x-editable
              title="Select gender"
              type="select"
              [source]="[{ value: 0, text: 'Male' },
                { value: 1, text: 'Female' }]"
              [mode]="mode"
              [disabled]="disabled"
            ></admin-form-x-editable>
          </td>
        </tr>
        <tr>
          <td>Select, no buttons</td>
          <td>
            <admin-form-x-editable
              title="Select gender"
              type="select"
              [source]="[{ value: 0, text: 'Male' },
                { value: 1, text: 'Female' }]"
              [showbuttons]="false"
              [mode]="mode"
              [disabled]="disabled"
            ></admin-form-x-editable>
          </td>
        </tr>
        <tr>
          <td>Combodate</td>
          <td>
            <admin-form-x-editable
              title="Select date of birth"
              type="combodate"
              value="1984-06-06"
              [mode]="mode"
              [disabled]="disabled"
            ></admin-form-x-editable>
          </td>
        </tr>
        <tr>
          <td>Combodatetime</td>
          <td>
            <admin-form-x-editable
              title="Setup event date and time"
              type="combodate"
              combodateTemplate="YYYY - MMM - DD hh : mm"
              combodateViewformat="YYYY-MM-DD hh:mm"
              [mode]="mode"
              [disabled]="disabled"
            ></admin-form-x-editable>
          </td>
        </tr>
        <tr>
          <td>Textarea</td>
          <td>
            <admin-form-x-editable
              title="Enter comments"
              type="textarea"
              showbuttons="bottom"
              [mode]="mode"
              [disabled]="disabled"
            >awesome</admin-form-x-editable>
          </td>
        </tr>
        <tr>
          <td>Typeahead</td>
          <td>
            <admin-form-x-editable
              title="Input state"
              [typeahead]="typeahead"
              type="typeaheadjs"
              [mode]="mode"
              [disabled]="disabled"
            >California</admin-form-x-editable>
          </td>
        </tr>
        <tr>
          <td>Checklist</td>
          <td>
            <admin-form-x-editable
              title="Choose any"
              type="checklist"
              [value]="[2,3]"
              [source]="[{value:1,text:'option1'},{value:2,text:'option2'},
                {value:3,text:'option3'}]"
              [mode]="mode"
              [disabled]="disabled"
            ></admin-form-x-editable>
          </td>
        </tr>
        <tr>
          <td>Select2 (tags)</td>
          <td>
            <admin-form-x-editable
              type="select2"
              [source]="[{id: 'gb', text: 'Great Britain'},
                {id: 'us', text: 'United States'},
                {id: 'ru', text: 'Russia'}]"
              title="Select country"
              [select2]="{ multiple: true }"
              value="ru"
              [mode]="mode"
              [disabled]="disabled"
            ></admin-form-x-editable>
          </td>
        </tr>
        <tr>
          <td>Select2 (dropdown)</td>
          <td>
            <admin-form-x-editable
              type="select2"
              [source]="[{id: 'gb', text: 'Great Britain'},
                {id: 'us', text: 'United States'},
                {id: 'ru', text: 'Russia'}]"
              title="Select country"
              [select2]="{ multiple: false }"
              value="ru"
              [mode]="mode"
              [disabled]="disabled"
            ></admin-form-x-editable>
          </td>
        </tr>
        <tr>
          <td>Custom input with several fields</td>
          <td>
            <admin-form-x-editable
              type="address"
              title="Enter address"
              [value]="{ city: 'Moscow', street: 'Lenina', building: '15' }"
              [mode]="mode"
              [disabled]="disabled"
            ></admin-form-x-editable>
          </td>
        </tr>
      </admin-table>
    </admin-panel>
  </ng-template>
</admin-grid>
