.event__accept-button {
  margin-right: 5px;
}

.event__username {
  font-weight: 700;
  color: rgb(124, 213, 186);
}

.event__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  box-shadow: 0 0 0 5px #4c5d67;
}

.event__picture {
  width: 100%;
}

.event__detail {
  font-size: .8em;
}
