<ul class="static-timeline">
  <li
    *ngFor="let evt of events; let i=index"
    class="static-timeline__event static-timeline-event"
  >
    <section
      class="static-timeline-event__header"
      [class.static-timeline-event__header--block]="block"
    >
      <span
        class="static-timeline__bullet glyphicon glyphicon-comment"
        [style.background-color]="colors[i]"
      ></span><span class="static-timeline-event__date" >{{evt.date}}</span>
    </section>

    <ul class="static-timeline-event__desc-list">
      <li
        *ngFor="let text of evt.texts"
        class="static-timeline-event__desc-item"
      >
        <span
          class="static-timeline-event__bullet"
          [style.background-color]="colors[i]"
        ></span><span class="static-timeline-event__dsec">{{text}}</span>
      </li>
    </ul>
  </li>
</ul>
