<admin-grid [cols]="[12]">
  <ng-template>
    <admin-panel class="text-center">
      Twelve
    </admin-panel>
  </ng-template>
</admin-grid>

<admin-grid [cols]="[6, 6]">
  <ng-template>
    <admin-panel class="text-center">
      Six
    </admin-panel>
  </ng-template>
  <ng-template>
    <admin-panel class="text-center">
      Six
    </admin-panel>
  </ng-template>
</admin-grid>

<admin-grid [cols]="[4, 4, 4]">
  <ng-template>
    <admin-panel class="text-center">
      Four
    </admin-panel>
  </ng-template>
  <ng-template>
    <admin-panel class="text-center">
      Four
    </admin-panel>
  </ng-template>
  <ng-template>
    <admin-panel class="text-center">
      Four
    </admin-panel>
  </ng-template>
</admin-grid>

<admin-grid [cols]="[3, 3, 3, 3]">
  <ng-template>
    <admin-panel class="text-center">
      Three
    </admin-panel>
  </ng-template>
  <ng-template>
    <admin-panel class="text-center">
      Three
    </admin-panel>
  </ng-template>
  <ng-template>
    <admin-panel class="text-center">
      Three
    </admin-panel>
  </ng-template>
  <ng-template>Three</ng-template>
</admin-grid>

<admin-grid [cols]="[8, 4]">
  <ng-template>
    <admin-panel class="text-center">
      Eight
    </admin-panel>
  </ng-template>
  <ng-template>
    <admin-panel class="text-center">
      Four
    </admin-panel>
  </ng-template>
</admin-grid>

<admin-grid [cols]="[10, 2]">
  <ng-template>
    <admin-panel class="text-center">
      Ten
    </admin-panel>
  </ng-template>
  <ng-template>
    <admin-panel class="text-center">
      Two
    </admin-panel>
  </ng-template>
</admin-grid>

<admin-grid [cols]="[5, 4, 3]">
  <ng-template>
    <admin-panel class="text-center">
      Five
    </admin-panel>
  </ng-template>
  <ng-template>
    <admin-panel class="text-center">
      Four
    </admin-panel>
  </ng-template>
  <ng-template>
    <admin-panel class="text-center">
      Three
    </admin-panel>
  </ng-template>
</admin-grid>
