<admin-grid [cols]="[12]">
  <ng-template>Twelve</ng-template>
</admin-grid>

<admin-grid [cols]="[6, 6]">
  <ng-template>Six</ng-template>
  <ng-template>Six</ng-template>
</admin-grid>

<admin-grid [cols]="[4, 4, 4]">
  <ng-template>Four</ng-template>
  <ng-template>Four</ng-template>
  <ng-template>Four</ng-template>
</admin-grid>

<admin-grid [cols]="[3, 3, 3, 3]">
  <ng-template>Three</ng-template>
  <ng-template>Three</ng-template>
  <ng-template>Three</ng-template>
  <ng-template>Three</ng-template>
</admin-grid>

<admin-grid [cols]="[8, 4]">
  <ng-template>Eight</ng-template>
  <ng-template>Four</ng-template>
</admin-grid>

<admin-grid [cols]="[10, 2]">
  <ng-template>Ten</ng-template>
  <ng-template>Two</ng-template>
</admin-grid>

<admin-grid [cols]="[5, 4, 3]">
  <ng-template>Five</ng-template>
  <ng-template>Four</ng-template>
  <ng-template>Three</ng-template>
</admin-grid>
