<admin-grid *ngFor="let chart of charts">
  <ng-template>
    <admin-panel>
      <h3 class="header">{{chart.header}}</h3>
      <admin-c3js-chart
        [columns]="chart.columns"
        [type]="chart.type"
        [group]="!!chart.group"
        [x]="chart.x"
      ></admin-c3js-chart>
    </admin-panel>
  </ng-template>
</admin-grid>

<admin-grid>
  <ng-template>
    <admin-panel>
      <h3 class="header">Gauge</h3>
      <admin-c3js-chart
        [columns]="['data', gauge]"
        type="gauge"
      ></admin-c3js-chart>
    </admin-panel>
  </ng-template>
</admin-grid>
