<ng-content></ng-content>

<ng-container *ngIf="dynamic">
  <h3>Add Step</h3>
  <section>
    <p>
      <label>HTML Title <input type="text" class="add-title"></label>
      <label>HTML Content
        <textarea rows="5" class="add-content"></textarea>
      </label>
    </p>
    <button type="button" class="add-button">Add</button>
  </section>
  <h3>Insert Step</h3>
  <section>
    <p>
      <label>Position (zero-based)
        <input type="text" class="insert-position">
      </label>
      <label>HTML Title
        <input type="text" class="insert-title">
      </label>
      <label>HTML Content
        <textarea rows="5" class="insert-content"></textarea>
      </label>
    </p>
    <button type="button" class="insert-button">Insert</button>
  </section>
  <h3>Remove Step</h3>
  <section>
    <p>
      <label>Position (zero-based)
        <input type="text" class="remove-position">
      </label>
    </p>
    <button type="button" class="remove-button">Remove</button>
  </section>
</ng-container>
