<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <admin-panel [showHeader]="true" headerColor="rgb(234,120,130)">
        <header><h3>Buttons &mdash; outlined</h3></header>
        <ng-container *ngFor="let size of sizes">
          <h4>{{expandSize(size)}}</h4>
          <admin-button
            *ngFor="let tag of tags"
            [outlined]="true"
            [tag]="tag"
            [size]="size"
          >{{tag}}</admin-button>
        </ng-container>
      </admin-panel>

      <admin-panel [showHeader]="true" headerColor="rgb(74,144,226)">
        <header>
          <h3>Buttons &mdash; outlined (inverse)</h3>
          <admin-button
            *ngFor="let tag of tags"
            [inverse]="true"
            [tag]="tag"
          >{{tag}}</admin-button>
        </header>
      </admin-panel>

      <admin-panel [showHeader]="true" headerColor="rgb(180,161,221)">
        <header><h3>Button group</h3></header>
        <h4>Basic</h4>
        <h5>Single color</h5>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['Left', 'Middle', 'Right']"
            color="purple"
          ></admin-button>
        </div>
        <h5>Multi-colored</h5>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['Left', 'Middle', 'Right']"
            [colors]="['paleblue', 'pink', 'paleyellow']"
          ></admin-button>
        </div>

        <h4>Outlined</h4>
        <h5>Single color</h5>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['Left', 'Middle', 'Right']"
            color="purple"
            [outlined]="true"
          ></admin-button>
        </div>
        <h5>Multi-colored</h5>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['Left', 'Middle', 'Right']"
            [colors]="['darkcyan', 'deepred', 'darkorange']"
            [outlined]="true"
          ></admin-button>
        </div>
      </admin-panel>

      <admin-panel [showHeader]="true" headerColor="rgb(168,85,58)">
        <header><h3>Button groups: sizing (normal)</h3></header>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['Left', 'Middle', 'Right']"
            color="red"
            size="lg"
          ></admin-button>
        </div>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['Left', 'Middle', 'Right']"
            color="green"
          ></admin-button>
        </div>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['Left', 'Middle', 'Right']"
            color="blue"
            size="sm"
          ></admin-button>
        </div>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['Left', 'Middle', 'Right']"
            color="paleyellow"
            size="xs"
          ></admin-button>
        </div>
      </admin-panel>

      <admin-panel [showHeader]="true" headerColor="rgb(255,196,151)">
        <header><h3>Button groups: sizing (Outlined)</h3></header>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['Left', 'Middle', 'Right']"
            color="red"
            size="lg"
            [outlined]="true"
          ></admin-button>
        </div>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['Left', 'Middle', 'Right']"
            color="green"
            [outlined]="true"
          ></admin-button>
        </div>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['Left', 'Middle', 'Right']"
            color="blue"
            size="sm"
            [outlined]="true"
          ></admin-button>
        </div>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['Left', 'Middle', 'Right']"
            color="paleyellow"
            size="xs"
            [outlined]="true"
          ></admin-button>
        </div>
      </admin-panel>

      <admin-panel [showHeader]="true" headerColor="rgb(239,107,93)">
        <header><h3>Buttons &mdash; outlined (colors)</h3></header>
        <admin-button
          *ngFor="let color of colors"
          [color]="color"
          [outlined]="true"
        >{{color}}</admin-button>
      </admin-panel>
    </div>

    <div class="col-md-6">
      <admin-panel [showHeader]="true" headerColor="rgb(85,201,166)">
        <header><h3>Buttons &mdash; normal</h3></header>
        <ng-container *ngFor="let size of sizes">
          <h4>{{expandSize(size)}}</h4>
          <admin-button
            *ngFor="let tag of tags"
            [tag]="tag"
            [size]="size"
          >{{tag}}</admin-button>
        </ng-container>
      </admin-panel>

      <admin-panel [showHeader]="true" headerColor="rgb(252,182,33)">
        <header><h3>Button groups: button toolbar</h3></header>
        <h4>Basic</h4>
        <h5>Single color</h5>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['1', '2', '3', '4']"
            color="green"
          ></admin-button>
          <admin-button
            [texts]="['5', '6', '7']"
            color="green"
          ></admin-button>
          <admin-button
            [texts]="['8']"
            color="green"
          ></admin-button>
        </div>
        <h5>Multi-colored</h5>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['1', '2', '3', '4']"
            [colors]="['red', 'pink', 'darkblue', 'blue']"
          ></admin-button>
          <admin-button
            [texts]="['5', '6', '7']"
            [colors]="['paleblue', 'green', 'yellow']"
          ></admin-button>
          <admin-button
            [texts]="['8']"
            color="purple"
          ></admin-button>
        </div>

        <h4>Outlined</h4>
        <h5>Single color</h5>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['1', '2', '3', '4']"
            color="brown"
            [outlined]="true"
          ></admin-button>
          <admin-button
            [texts]="['5', '6', '7']"
            color="brown"
            [outlined]="true"
          ></admin-button>
          <admin-button
            [texts]="['8']"
            color="brown"
            [outlined]="true"
          ></admin-button>
        </div>
        <h5>Multi-colored</h5>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['1', '2', '3', '4']"
            [colors]="['red', 'pink', 'darkblue', 'blue']"
            [outlined]="true"
          ></admin-button>
          <admin-button
            [texts]="['5', '6', '7']"
            [colors]="['paleblue', 'green', 'brightyellow']"
            [outlined]="true"
          ></admin-button>
          <admin-button
            [texts]="['8']"
            color="purple"
            [outlined]="true"
          ></admin-button>
        </div>
      </admin-panel>

      <admin-panel
        [showHeader]="true"
        headerColor="rgb(226,153,183)"
        class="panel--normal-group"
      >
        <header><h3>Button groups: nesting (normal)</h3></header>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['1', '2', {text:'Dropdown', options:['a','b','c']}]"
            color="pink"
          ></admin-button>
        </div>
      </admin-panel>

      <admin-panel
        [showHeader]="true"
        headerColor="rgb(165,199,236)"
        class="panel--outlined-group"
      >
        <header><h3>Button groups: nesting (outlined)</h3></header>
        <div class="button-group-wrapper">
          <admin-button
            [texts]="['1', '2', {text:'Dropdown', options:['a','b','c']}]"
            color="paleblue"
            [outlined]="true"
          ></admin-button>
        </div>
      </admin-panel>

      <admin-panel
        [showHeader]="true"
        headerColor="rgb(235,160,104)"
        class="panel--vertical"
      >
        <header><h3>Button groups: verical variation</h3></header>
        <admin-grid [cols]="[6, 6]">
          <ng-template>
            <div class="button-group-wrapper">
              <admin-button
                color="darkorange"
                [vertical]="true"
                [texts]="['Button', 'Button', { text: 'Dropup',
                  options: ['Dropup link', 'Dropup link'], dropup: true },
                  'Button', 'Button', { text: 'Dropdown',
                  options: ['Dropdown link', 'Dropdown link'] },
                  { text: 'Dropdown',
                  options: ['Dropdown link', 'Dropdown link'] },
                  'Button', 'Button']"
              ></admin-button>
            </div>
          </ng-template>

          <ng-template>
            <div class="button-group-wrapper">
              <admin-button
                color="darkorange"
                [vertical]="true"
                [outlined]="true"
                [texts]="['Button', 'Button', { text: 'Dropup',
                  options: ['Dropup link', 'Dropup link'], dropup: true },
                  'Button', 'Button', { text: 'Dropdown',
                  options: ['Dropdown link', 'Dropdown link'] },
                  { text: 'Dropdown',
                  options: ['Dropdown link', 'Dropdown link'] },
                  'Button', 'Button']"
              ></admin-button>
            </div>
          </ng-template>
        </admin-grid>
      </admin-panel>

      <admin-panel
        [showHeader]="true"
        headerColor="rgb(67,82,90)"
        class="panel--justified"
      >
        <header><h3>Button groups: justified button groups</h3></header>
          <admin-button
            [texts]="['left', 'middle', 'right']"
            [colors]="['brown', 'blue', 'green']"
            [justified]="true"
          ></admin-button>
          <admin-button
            [texts]="['left', 'middle', { text: 'dropdown', options: [
              'dropdown link', 'dropdown link'] }]"
            [colors]="['red', 'pink', 'pinkishred']"
            [justified]="true"
          ></admin-button>
          <admin-button
            [texts]="['left', 'middle', 'right']"
            color="green"
            [outlined]="true"
            [justified]="true"
          ></admin-button>
          <admin-button
            [texts]="['left', 'middle', { text: 'dropdown', options: [
              'dropdown link', 'dropdown link'] }]"
            color="brightyellow"
            [outlined]="true"
            [justified]="true"
          ></admin-button>
      </admin-panel>

      <admin-panel [showHeader]="true" headerColor="rgb(81,94,120)">
        <header><h3>Buttons &mdash; normal (colors)</h3></header>
        <admin-button
          *ngFor="let color of colors"
          [color]="color"
        >{{color}}</admin-button>
      </admin-panel>
    </div>
  </div>
</div>
