<admin-button size="lg">default</admin-button>
<admin-button tag="primary" size="lg">primary</admin-button>
<admin-button tag="success" size="lg">success</admin-button>
<admin-button tag="info" size="lg">info</admin-button>
<admin-button tag="warning" size="lg">warning</admin-button>
<admin-button tag="danger" size="lg">Danger</admin-button>
<br><br>

<admin-button>default</admin-button>
<admin-button tag="primary">primary</admin-button>
<admin-button tag="success">success</admin-button>
<admin-button tag="info">info</admin-button>
<admin-button tag="warning">warning</admin-button>
<admin-button tag="danger">Danger</admin-button>
<br><br>

<admin-button size="sm">default</admin-button>
<admin-button tag="primary" size="sm">primary</admin-button>
<admin-button tag="success" size="sm">success</admin-button>
<admin-button tag="info" size="sm">info</admin-button>
<admin-button tag="warning" size="sm">warning</admin-button>
<admin-button tag="danger" size="sm">Danger</admin-button>
<br><br>

<admin-button size="xs">default</admin-button>
<admin-button tag="primary" size="xs">primary</admin-button>
<admin-button tag="success" size="xs">success</admin-button>
<admin-button tag="info" size="xs">info</admin-button>
<admin-button tag="warning" size="xs">warning</admin-button>
<admin-button tag="danger" size="xs">Danger</admin-button>
<br><br>

<admin-button size="lg" [outlined]="true">default</admin-button>
<admin-button tag="primary" size="lg" [outlined]="true">primary</admin-button>
<admin-button tag="success" size="lg" [outlined]="true">success</admin-button>
<admin-button tag="info" size="lg" [outlined]="true">info</admin-button>
<admin-button tag="warning" size="lg" [outlined]="true">warning</admin-button>
<admin-button tag="danger" size="lg" [outlined]="true">Danger</admin-button>
<br><br>

<admin-button [outlined]="true">default</admin-button>
<admin-button tag="primary" [outlined]="true">primary</admin-button>
<admin-button tag="success" [outlined]="true">success</admin-button>
<admin-button tag="info" [outlined]="true">info</admin-button>
<admin-button tag="warning" [outlined]="true">warning</admin-button>
<admin-button tag="danger" [outlined]="true">Danger</admin-button>
<br><br>

<admin-button size="sm" [outlined]="true">default</admin-button>
<admin-button tag="primary" size="sm" [outlined]="true">primary</admin-button>
<admin-button tag="success" size="sm" [outlined]="true">success</admin-button>
<admin-button tag="info" size="sm" [outlined]="true">info</admin-button>
<admin-button tag="warning" size="sm" [outlined]="true">warning</admin-button>
<admin-button tag="danger" size="sm" [outlined]="true">Danger</admin-button>
<br><br>

<admin-button size="xs" [outlined]="true">default</admin-button>
<admin-button tag="primary" size="xs" [outlined]="true">primary</admin-button>
<admin-button tag="success" size="xs" [outlined]="true">success</admin-button>
<admin-button tag="info" size="xs" [outlined]="true">info</admin-button>
<admin-button tag="warning" size="xs" [outlined]="true">warning</admin-button>
<admin-button tag="danger" size="xs" [outlined]="true">Danger</admin-button>
<br><br>

<admin-button size="lg" [inverse]="true">default</admin-button>
<admin-button tag="primary" size="lg" [inverse]="true">primary</admin-button>
<admin-button tag="success" size="lg" [inverse]="true">success</admin-button>
<admin-button tag="info" size="lg" [inverse]="true">info</admin-button>
<admin-button tag="warning" size="lg" [inverse]="true">warning</admin-button>
<admin-button tag="danger" size="lg" [inverse]="true">Danger</admin-button>
<br><br>

<admin-button [inverse]="true">default</admin-button>
<admin-button tag="primary" [inverse]="true">primary</admin-button>
<admin-button tag="success" [inverse]="true">success</admin-button>
<admin-button tag="info" [inverse]="true">info</admin-button>
<admin-button tag="warning" [inverse]="true">warning</admin-button>
<admin-button tag="danger" [inverse]="true">Danger</admin-button>
<br><br>

<admin-button size="sm" [inverse]="true">default</admin-button>
<admin-button tag="primary" size="sm" [inverse]="true">primary</admin-button>
<admin-button tag="success" size="sm" [inverse]="true">success</admin-button>
<admin-button tag="info" size="sm" [inverse]="true">info</admin-button>
<admin-button tag="warning" size="sm" [inverse]="true">warning</admin-button>
<admin-button tag="danger" size="sm" [inverse]="true">Danger</admin-button>
<br><br>

<admin-button size="xs" [inverse]="true">default</admin-button>
<admin-button tag="primary" size="xs" [inverse]="true">primary</admin-button>
<admin-button tag="success" size="xs" [inverse]="true">success</admin-button>
<admin-button tag="info" size="xs" [inverse]="true">info</admin-button>
<admin-button tag="warning" size="xs" [inverse]="true">warning</admin-button>
<admin-button tag="danger" size="xs" [inverse]="true">Danger</admin-button>
<br><br>

<admin-button [texts]="['1', '2', '3']"></admin-button>
<admin-button [texts]="['1', '2', '3']" tag="success"></admin-button>
<admin-button [texts]="['1', '2', '3']" color="pink" [outlined]="true"></admin-button>
<admin-button [texts]="['1', '2', '3']" [tags]="['primary', 'success', 'info']"></admin-button>
<admin-button [texts]="['1', '2', '3']" [tags]="['red', 'brown75', 'orange75']"></admin-button>
<admin-button [texts]="['1', '2', {text:'3', options:['a','b','c']}]" [tags]="['red', 'brown75', 'orange75']" [justified]="true"></admin-button>
<admin-button [texts]="['1', '2', '3']" [tags]="['red', 'brown75', 'orange75']" [vertical]="true"></admin-button>
<admin-button [texts]="['left', {text:'middle', options:['o1','opop']}, 'right']" color="pink" size="lg"></admin-button>
<admin-button [texts]="[{text:'middle', options:['o1','opop']}]" color="pink" size="lg"></admin-button>
