<nav class="links">
  <div class="links__input-container">
    <input
      type="text"
      placeholder="Search..."
      [(ngModel)]="filter"
      class="links__input"
    >
  </div>

  <ul class="links__list">
    <ng-container *ngFor="let entry of displayedLinks">
      <li
        [routerLink]="entry.href || null"
        [routerLinkActive]="entry.href ? 'links__link-item--active': ''"
        [ngClass]="itemClass(entry)"
        (click)="onToggleClose(entry.name)"
      >
        <span
          class="links__category"
          *ngIf="!entry.name; else linkOrGroup"
        >{{entry}}</span>

        <ng-template #linkOrGroup>
          <i [class]="'fa fa-fw fa-' + entry.icon"></i>
          <span class="links__name">{{entry.name}}</span>
          <span class="links__count" *ngIf="entry.children">
            {{entry.children.length}}
            <span [routerLink]="entry.prefix"></span>
          </span>
        </ng-template>
      </li>

      <ul class="links__child-list" *ngIf="entry.children">
        <li
          *ngFor="let child of entry.children"
          [routerLink]="child.href"
          routerLinkActive="links__child-link-item--active"
          class="links__child-link-item"
        >
          <i [class]="'fa fa-fw fa-' + child.icon"></i>
          <span class="links__name">{{child.name}}</span>
        </li>
      </ul>
    </ng-container>
  </ul>
</nav>
