.links__input-container {
  padding: 16px;
}

.links__input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  background-color: transparent;
  padding: 4px 8px;
  color: #fff;

  &:focus {
    border-bottom: 2px solid #fff;
    outline: none;
  }

  &::placeholder {
    color: rgba(255, 255, 255, .5);
  }
}

.links__child-list,
.links__list {
  list-style: none;
  color: rgba(255, 255, 255, .7);
}

.links__list {
  padding: 8px 0;
}

.links__child-list {
  padding: 0 0 8px 16px;
  overflow: hidden;
  transition: height .3s cubic-bezier(.17, 1.82, .6, .67);
}

.links__group-item--mailbox,
.links__group-item--charts,
.links__group-item--forms,
.links__group-item--tables {
  & + .links__child-list {
    height: 128px;
  }
}

.links__group-item--blog,
.links__group-item--file-utilities {
  & + .links__child-list {
    height: 88px;
  }
}

.links__group-item--ui-elements {
  & + .links__child-list {
    height: 288px;
  }
}

.links__group-item--closed + .links__child-list {
  height: 0;
  padding: 0;
}

.links__group-item,
.links__link-item {
  padding: 8px 16px;
  outline: none;
}

.links__category-item {
  border-top: 2px solid rgba(255, 255, 255, .12);
  margin-top: 8px;
  padding: 16px 16px 8px;
  outline: none;
}

.links__category {
  text-transform: uppercase;
  color: rgba(255, 255, 255, .5);
  letter-spacing: 1px;
  font-weight: 900;
  font-size: .9em;
}

.links__child-link-item,
.links__group-item,
.links__link-item {
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    background-color: rgba(0, 0, 0, .2);
  }
}

.links__group-item--active {
  background-color: rgba(0, 0, 0, .2);
}

.links__group-item--active.links__group-item--closed,
.links__link-item--active {
  border-left-width: 8px;
  border-left-style: solid;
  padding-left: 8px;
  background-color: rgba(0, 0, 0, .38);
}

.links__child-link-item {
  padding: 8px 16px 8px 24px;
  margin: 0;
  border-left: 2px solid rgba(255, 255, 255, .12);
  position: relative;

  &:before {
    content: "";
    position: absolute;
    border-top: 2px solid rgba(255, 255, 255, .12);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 16px;
  }
}

.links__child-link-item--active {
  border-left-width: 8px;
  padding-left: 18px;
  background-color: rgba(0, 0, 0, .38);

  &:before {
    display: none;
  }
}

.links__link-item--active,
.links__child-link-item--active {
  position: relative;

  &:after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #fff;
  }
}

.links__name {
  text-transform: capitalize;
  margin-left: 5px;
}

.links__group-item {
  position: relative;
  backface-visibility: hidden;

  &:before {
    content: "\f107";
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    right: 16px;
    font-size: 24px;
    line-height: 40px;
    backface-visibility: hidden;
    transition: transform .2s cubic-bezier(.4, 0, .2, 1);
  }
}

.links__group-item--closed {
  &:before {
    transform: rotate(90deg);
  }
}

.links__count {
  display: inline-block;
  height: 24px;
  line-height: 18px;
  padding: 3px 10px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  position: absolute;
  right: 48px;
  top: 8px;
  font-size: .8em;
  font-weight: 900;
}

.links__group-item--mailbox .links__count {
  background-color: rgb(234, 120, 130);
}

.links__group-item--blog .links__count {
  background-color: rgb(121, 176, 236);
}

.links__group-item--charts .links__count {
  background-color: rgb(180, 161, 221);
}

.links__group-item--ui-elements .links__count {
  background-color: rgb(168, 85, 58);
}

.links__group-item--forms .links__count {
  background-color: rgb(235, 160, 104);
}

.links__group-item--tables .links__count {
  background-color: rgb(85, 201, 166);
}

.links__group-item--file-utilities .links__count {
  background-color: rgb(222, 188, 133);
}
