<button (click)="triggerBasic()">Trigger basic</button>
<button (click)="triggerInfo()">Trigger info</button>
<button (click)="triggerError()">Trigger error</button>
<button (click)="triggerSuccess()">Trigger success</button>
<button (click)="triggerNotification()">Trigger Notification</button>
<button (click)="triggerLaunch()">Trigger Launch</button>
<button (click)="triggerChoice()">Trigger Choice</button>

<button (click)="topLeft()">Top left</button>
<button (click)="top()">Top</button>
<button (click)="topRight()">Top right</button>
<button (click)="bottomLeft()">Bottom left</button>
<button (click)="bottom()">Bottom</button>
<button (click)="bottomRight()">Bottom right</button>
