<section class="lock">
  <section class="lock__timer">
    {{hh}}:{{mm}}:{{ss}}
  </section>

  <section class="lock__date">
    {{day}}, {{month}} {{year}}
  </section>

  <section class="lock__user">
    <img
      class="lock__image"
      [src]="nyanCat"
      alt="A demo profile picture"
    >
    <div class="lock__name">Nyan Cat</div>
    <form (submit)="onUnlock()" class="lock__form">
      <input
        type="password"
        name="password"
        class="lock__password"
        placeholder="password"
      >
    </form>
  </section>
</section>
