<section class="signup">
  <admin-panel [showHeader]="true" [showControls]="false">
    <header>
      <h3 class="signup__header">Signup</h3>
    </header>

    <form class="signup__form" (submit)="onSignup()">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </div>

          <input
            type="text"
            class="form-control"
            placeholder="username"
          >
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </div>

          <input
            type="email"
            class="form-control"
            placeholder="admin@template.com"
          >
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </div>

          <input
            type="password"
            class="form-control"
            placeholder="password"
          >
        </div>
      </div>

      <div class="form-group">
        <admin-button
          tag="primary"
          [justified]="true"
          [outlined]="true"
          [texts]="['Create account']"
          (clickBtn)="onSignup()"
        ></admin-button>
      </div>
    </form>

    <p class="signup__message">Or...</p>
    <section class="signup__social">
      <img
        [src]="facebookLogin"
        alt="Login with Facebook"
        class="signup__facebook"
        (click)="onSignup()"
      >
      <img
        [src]="twitterLogin"
        alt="Login with Twitter"
        class="signup__twitter"
        (click)="onSignup()"
      >
      <a routerLink="/login" class="signup__link">
        Already have an account? login here
      </a>
    </section>
  </admin-panel>
</section>
