<nav class="topnav" [ngClass]="colorClass">
  <button
    type="button"
    (click)="toggleSidenav()"
    class="topnav__toggle-btn topnav__toggle-btn--menu"
  ><span class="glyphicon glyphicon-menu-hamburger"></span></button>

  <h1 class="topnav__logo">
    <i class="fa fa-code"></i>
    admin template
  </h1>

  <div class="topnav__btn-group">
    <button
      type="button"
      class="topnav__btn topnav__btn--color"
      (click)="openColorModal()"
    ><span class="glyphicon glyphicon-asterisk"></span></button>
  </div>

  <div class="topnav__btn-group">
    <button type="button" class="topnav__btn topnav__btn--language">
      <span [class]="'flag-icon flag-icon-' + locale"></span>
      <div class="topnav__popover topnav__popover--language">
        <h6 class="topnav__popover-title">Locale</h6>
        <ul class="topnav__language-list">
          <li
            *ngFor="let lang of locales; let i=index"
            class="topnav__language-item"
            [class.topnav__language-item--active]="lang === locale"
            (click)="changeLocale(lang)"
          >
            <span [class]="'flag-icon flag-icon-' + lang"></span>
            <span class="topnav__language-name">
              {{languages[locale][i]}}
            </span>
          </li>
        </ul>
      </div>
    </button>
  </div>

  <div class="topnav__btn-group">
    <button
      type="button"
      class="topnav__btn topnav__btn--user"
      routerLink="/social"
    ><span class="glyphicon glyphicon-user"></span></button>

    <button type="button" class="topnav__btn topnav__btn--setting">
      <span class="glyphicon glyphicon-cog"></span>
      <div class="topnav__popover topnav__popover--setting">
        <h6 class="topnav__popover-title">Dimension</h6>
        <ul class="topnav__setting-list">
          <li
            class="topnav__setting-item"
            [class.topnav__setting-item--active]="!boxed"
            (click)="changeBoxed(false)"
          >Fluid</li>
          <li
            class="topnav__setting-item"
            [class.topnav__setting-item--active]="boxed"
            (click)="changeBoxed(true)"
          >Boxed (1200px)</li>
        </ul>
      </div>
    </button>
  </div>

  <div class="topnav__btn-group">
    <button
      type="button"
      class="topnav__btn topnav__btn--mail"
      routerLink="/mailbox/inbox"
    ><span class="glyphicon glyphicon-envelope"></span></button>

    <button type="button" class="topnav__btn topnav__btn--notification">
      <span class="glyphicon glyphicon-comment"></span>
      <span class="topnav__bubble topnav__bubble--notification">2</span>
      <div class="topnav__popover topnav__popover--notification">
        <h6 class="topnav__popover-title">Notifications</h6>
        <ul class="topnav__notification-list">
          <li class="topnav__notification-item">
            <div class="topnav__notification-media">
              <img
                [src]="nyanCat"
                alt="Nyan Cat"
                class="topnav__notification-avatar"
              >
              <span
                class="topnav__notification-label
                  topnav__notification-label--new"
              >New</span>
            </div>
            <div class="topnav__notification-content">
              <p class="topnav__time">
                <i class="fa fa-comments"></i>
                <em>3 hours ago</em>
              </p>
              <p class="topnav__link">
                Nyan Cat 2 sent you a private message
              </p>
              <p class="topnav__notification-extract">
                Nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan...
              </p>
            </div>
          </li>
          <li class="topnav__notification-item">
            <div class="topnav__notification-media">
              <img
                [src]="nyanCat"
                alt="Nyan Cat"
                class="topnav__notification-avatar"
              >
              <span
                class="topnav__notification-label
                  topnav__notification-label--alert"
              >Alert</span>
            </div>
            <div class="topnav__notification-content">
              <p class="topnav__time">
                <i class="fa fa-exclamation-circle"></i>
                <em>9 hours ago</em>
              </p>
              <p class="topnav__link">
                Nyan Cat 4 sent you an alert
              </p>
              <p class="topnav__notification-extract">
                Nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan...
              </p>
            </div>
          </li>
        </ul>

        <div class="topnav__notification-buttons">
          <button type="button" class="topnav__notification-button">
            Mark all read
          </button>
          <button type="button" class="topnav__notification-button">
            View all
          </button>
        </div>
      </div>
    </button>

    <button type="button" class="topnav__btn topnav__btn--feed">
      <span class="glyphicon glyphicon-volume-up"></span>
      <span class="topnav__bubble topnav__bubble--feed">3</span>
      <div class="topnav__popover topnav__popover--feed">
        <h6 class="topnav__popover-title">News Feed</h6>
        <ul class="topnav__feed-list">
          <li class="topnav__feed-item">
            <div class="topnav__feed-media">
              <i class="fa fa-star fa-2x fa-fw"></i>
            </div>
            <div class="topnav__feed-content">
              <p class="topnav__time">
                <em>few seconds ago</em>
              </p>
              <p class="topnav__feed-title">
                <span class="topnav__link">@nyancat2</span>
                starred
                <span class="topnav__repo">ksmai/admin-template</span>
              </p>
            </div>
          </li>
          <li class="topnav__feed-item">
            <div class="topnav__feed-media">
              <i class="fa fa-comments fa-2x fa-fw"></i>
            </div>
            <div class="topnav__feed-content">
              <p class="topnav__time">
                <em>2 hours ago</em>
              </p>
              <p class="topnav__feed-title">
                <span class="topnav__link">@nyancat3</span>
                commentd on issue
                <span class="topnav__repo">#42</span>
              </p>
            </div>
          </li>
          <li class="topnav__feed-item">
            <div class="topnav__feed-media">
              <i class="fa fa-code-fork fa-2x fa-fw"></i>
            </div>
            <div class="topnav__feed-content">
              <p class="topnav__time">
                <em>5 hours ago</em>
              </p>
              <p class="topnav__feed-title">
                <span class="topnav__link">@nyancat4</span>
                forked
                <span class="topnav__repo">angular/angular</span>
              </p>
            </div>
          </li>
        </ul>
        <span #sparkline></span>
      </div>
    </button>
  </div>

  <a
    href="https://github.com/ksmai/admin-template"
    class="topnav__toggle-btn"
  ><span class="glyphicon glyphicon-off"></span></a>
</nav>
