@import '../../styles/colors';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.topnav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(76, 93, 103);
}

.topnav__toggle-btn {
  border: 0;
  background: none;
  height: 75px;
  width: 75px;
  color: #fff;
  transition: background-color .15s cubic-bezier(.4, 0, .2, 1);
  line-height: 75px;
  font-size: 35px;
  text-align: center;
  padding: 0;
}

.topnav__toggle-btn--menu {
  display: none;
}

.topnav__logo {
  margin: 0 24px;
  color: #fff;
  flex: 1;
  font-size: 1.3em;
  font-weight: 900;
  letter-spacing: .05em;
}

.topnav__btn-group {
  border-left: 1px solid rgba(255, 255, 255, .12);
  height: 75px;
  padding: 0 12px;
}

.topnav__btn {
  color: #fff;
  background: none;
  border: none;
  outline: none;
  height: 75px;
  line-height: 75px;
  font-size: 1.3em;
  padding: 0 12px;
  opacity: .7;
  transition: opacity .15s cubic-bezier(.4, 0, .2, 1);
  position: relative;

  &:hover,
  &:active,
  &:focus {
    opacity: 1;
  }
}

.topnav__btn--color,
.topnav__btn--language {
  opacity: 1;
}

.topnav__bubble {
  position: absolute;
  border-radius: 50%;
  color: #fff;
  font-size: .4em;
  font-weight: 900;
  top: 10px;
  right: 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
}

.topnav__bubble--feed {
  background-color: rgb(68, 193, 172);
}

.topnav__bubble--notification {
  background-color: rgb(235, 160, 104);
}

.topnav__popover {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 100%;
  width: 200px;
  background-color: #fff;
  color: rgba(0, 0, 0, .87);
  box-shadow:
    0 1px 3px -2px rgba(0, 0, 0, .2),
    0 2px 2px rgba(0, 0, 0, .14),
    0 3px 5px rgba(0, 0, 0, .12);
  z-index: 1000;
  border-top: 5px solid #fff;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity .125s cubic-bezier(.4, 0, .6, 1);

  &:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 100%;
    right: 7px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}

.topnav__btn:hover,
.topnav__btn:active,
.topnav__btn:focus {
  .topnav__popover {
    opacity: 1;
    height: auto;
    overflow: initial;
  }
}

.topnav__popover-title {
  color: rgba(0, 0, 0, .54);
  text-transform: uppercase;
  letter-spacing: .05em;
  text-align: left;
  font-size: .7em;
  margin: 10px 20px;
}

.topnav__popover--notification,
.topnav__popover--language {
  width: 300px;
}

.topnav__popover--feed {
  width: 350px;
}

.topnav__setting-list,
.topnav__language-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 1.5;
  font-size: 16px;
}

.topnav__setting-item,
.topnav__language-item {
  padding: 10px 20px;
  color: rgba(0, 0, 0, .38);
  transition: color .15s cubic-bezier(.4, 0, .2, 1);

  &:hover,
  &:focus,
  &:active {
    color: rgba(0, 0, 0, .87);
  }
}

.topnav__language-name {
  margin-left: 10px;
}

.topnav__setting-item--active,
.topnav__language-item--active {
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.topnav__feed-list,
.topnav__notification-list {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 12px;
  color: rgba(0, 0, 0, .87);
  list-style: none;
  line-height: 1.5;
}

.topnav__feed-list {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  margin-bottom: 20px;
}

.topnav__feed-item,
.topnav__notification-item {
  display: flex;
  padding: 10px 20px;
  border-top: 1px solid rgba(0, 0, 0, .12);
  cursor: pointer;
  transition: background-color .15s cubic-bezier(.4, 0, .2, 1);

  &:hover {
    background-color: #eee;
  }
}

.topnav__feed-media,
.topnav__notification-media {
  flex: 0 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topnav__feed-media {
  color: rgba(0, 0, 0, .54);
  padding-top: 5px;
}

.topnav__notification-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.topnav__notification-label {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .03em;
  font-size: 9px;
  padding: 3px 5px;
  border-radius: 3px;
  color: #fff;
  line-height: 1;
}

.topnav__notification-label--new {
  background-color: rgb(68, 193, 172);
}

.topnav__notification-label--alert {
  background-color: rgb(215, 31, 75);
}

.topnav__time {
  color: rgba(0, 0, 0, .54);
  font-style: italic;
  margin-bottom: 5px;
}

.topnav__link {
  color: rgb(68, 193, 172);
  font-weight: 700;
}

.topnav__repo {
  font-weight: 700;
  color: rgb(74, 144, 226);
}

.topnav__notification-extract {
  color: rgba(0, 0, 0, .38);
  font-size: 10px;
  margin: 5px 0 0;
}

.topnav__feed-content,
.topnav__notification-content {
  margin-left: 10px;
}

.topnav__notification-buttons {
  display: flex;
}

.topnav__notification-button {
  background: none;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 1px;
  flex: 1;
  margin: 0;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .12);
  color: rgba(0, 0, 0, .38);
  transition: color .15s cubic-bezier(.4, 0, .2, 1);
  font-weight: 700;

  &:hover {
    color: rgba(0, 0, 0, .87);
  }
}

@each $name, $color in $colors {
  .topnav--#{$name} {
    .topnav__toggle-btn {
      background-color: darken($color, 5%);

      &:hover {
        background-color: $color;
      }
    }

    .topnav__btn--color {
      color: $color;
    }

    .topnav__popover {
      border-color: $color;

      &:before {
        border-bottom-color: $color;
      }
    }

    .topnav__setting-item--active,
    .topnav__language-item--active {
      background-color: darken($color, 5%);

      &:hover {
        background-color: $color;
      }
    }
  }
}

@media (max-width: 991px) {
  .topnav__toggle-btn--menu {
    display: inline-block;
  }

  .topnav__btn-group {
    display: none;
  }
}
