<admin-accordion [items]="items"></admin-accordion>

<admin-tab [tabs]="tabs" color="green"></admin-tab>
<admin-tab [tabs]="tabs" color="red" [pills]="true"></admin-tab>
<admin-tab [tabs]="tabs" [stacked]="true" [pills]="true"></admin-tab>
<admin-tab [tabs]="tabs" color="green" [justified]="true"></admin-tab>
<admin-tab [tabs]="tabs" color="green" [justified]="true" [pills]="true"></admin-tab>

<admin-navbar
  brand="Brand"
  [leftLinks]="leftLinks"
  [rightLinks]="rightLinks"
></admin-navbar>

<admin-navbar
  brand="Brand"
  [leftLinks]="leftLinks"
  [rightLinks]="rightLinks"
  [inverse]="true"
></admin-navbar>

<admin-navbar
  brand="Brand"
  [leftHTML]="leftHTML"
  [rightHTML]="rightHTML"
></admin-navbar>

<admin-breadcrumb
  [links]="links"
  color="red"
></admin-breadcrumb>

<admin-pagination
  [start]="1"
  [end]="10"
  color="red"
></admin-pagination>

<admin-pagination
  [start]="1"
  [end]="10"
  color="red"
  size="lg"
></admin-pagination>

<admin-pagination
  [start]="1"
  [end]="10"
  color="red"
  size="sm"
></admin-pagination>
