<admin-grid>
  <ng-template>
    <admin-panel [showHeader]="true" headerColor="rgb(226,153,183)">
      <header><h3>Accordion</h3></header>
      <admin-accordion [items]="accordionItems"></admin-accordion>
    </admin-panel>
  </ng-template>
</admin-grid>

<admin-grid [cols]="[6, 6]">
  <ng-template>
    <admin-panel
      [showHeader]="true"
      headerColor="rgb(160,223,204)"
      class="panel--basic"
    >
      <header><h3>Tabs: basic</h3></header>
      <admin-tab [tabs]="tabs" color="palegreen"></admin-tab>
    </admin-panel>
    <admin-panel
      [showHeader]="true"
      headerColor="rgb(211,201,235)"
      [tabbed]="true"
      class="panel--justified"
    >
      <header><h3>Tabs: inline justified</h3></header>
      <admin-tab
        [tabs]="tabs"
        color="lightpurple"
        [justified]="true"
        [inverse]="true"
        [pills]="true"
      ></admin-tab>
    </admin-panel>
  </ng-template>

  <ng-template>
    <admin-panel
      [showHeader]="true"
      headerColor="rgb(222,188,133)"
      class="panel--pills"
    >
      <header><h3>Pills: basic</h3></header>
      <admin-tab [tabs]="tabs" color="paleyellow" [pills]="true">
      </admin-tab>
    </admin-panel>
    <admin-panel
      [showHeader]="true"
      headerColor="rgb(165,199,236)"
      class="panel--stacked"
    >
      <header><h3>Pills: stacked</h3></header>
      <admin-tab
        [tabs]="tabs"
        [stacked]="true"
        [pills]="true"
        color="paleblue"
      ></admin-tab>
    </admin-panel>
  </ng-template>
</admin-grid>

<admin-grid>
  <ng-template>
    <admin-panel [showHeader]="true" headerColor="rgb(255,196,151)">
      <header><h3>Navbars</h3></header>
      <admin-navbar
        brand="Brand"
        [leftLinks]="navLeftLinks"
        [rightLinks]="navRightLinks"
      ></admin-navbar>
      <admin-navbar
        brand="Brand"
        [leftLinks]="navLeftLinks"
        [rightLinks]="navRightLinks"
        [inverse]="true"
      ></admin-navbar>
      <admin-navbar
        brand="Brand"
        [leftHTML]="navLeftHTML"
        [rightHTML]="navRightHTML"
      ></admin-navbar>
    </admin-panel>
  </ng-template>
</admin-grid>

<admin-grid>
  <ng-template>
    <admin-panel [showHeader]="true" headerColor="rgb(214,127,107)">
      <header><h3>Breadcrumb</h3></header>
      <admin-breadcrumb
        [links]="links.slice(0,1)"
        color="red"
      ></admin-breadcrumb>
      <admin-breadcrumb
        [links]="links.slice(0,2)"
        color="red"
      ></admin-breadcrumb>
      <admin-breadcrumb
        [links]="links"
        color="red"
      ></admin-breadcrumb>
    </admin-panel>
  </ng-template>
</admin-grid>

<admin-grid>
  <ng-template>
    <admin-panel [showHeader]="true" headerColor="rgb(240,159,166)">
      <header><h3>Pagination</h3></header>
      <admin-pagination
        [start]="1"
        [end]="10"
        color="red"
        size="lg"
      ></admin-pagination>
      <admin-pagination
        [start]="1"
        [end]="10"
        color="red"
      ></admin-pagination>
      <admin-pagination
        [start]="1"
        [end]="10"
        color="red"
        size="sm"
      ></admin-pagination>
    </admin-panel>
  </ng-template>
</admin-grid>

<admin-grid>
  <ng-template>
    <admin-panel [showHeader]="true" headerColor="rgb(124,213,186)">
      <header><h3>Pager</h3></header>
      <admin-pager></admin-pager>
      <admin-pager
        [aligned]="true"
        [prevDisabled]="true"
        [nextDisabled]="true"
      ></admin-pager>
    </admin-panel>
  </ng-template>
</admin-grid>
