<admin-grid>
  <ng-template>
    <admin-panel [tabbed]="true" class="post">
      <div
        class="post__cover"
        [style.background-image]="'url(' + birdImage + ')'"
      >
        <div class="post__scrim">
          <h3 class="post__title">Some story about a bird</h3>
          <p class="post__extract">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="post__actions">
            <button class="post__action post__action--facebook">
              <i class="fa fa-facebook fa-fw"></i>
            </button>
            <button class="post__action post__action--twitter">
              <i class="fa fa-twitter fa-fw"></i>
            </button>
            <button
              type="button"
              class="post__action post__action--google-plus"
            >
              <i class="fa fa-google-plus fa-fw"></i>
            </button>
            <button class="post__action post__action--dribbble">
              <i class="fa fa-dribbble fa-fw"></i>
            </button>
            <button class="post__action post__action--flickr">
              <i class="fa fa-flickr fa-fw"></i>
            </button>
            <button class="post__action post__action--instagram">
              <i class="fa fa-instagram fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="post__content">
        <h3 class="post__heading">Some story about a bird</h3>
        <h6 class="post__authorship">
          by <a routerLink="/blog/post">Some great author</a>
          / 8 Aug 2017
        </h6>
        <p class="post__paragraph">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipiscing velit, sed quia non numquam do eius modi tempora incididunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?</p>

        <div class="post__youtube-wrapper">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/QH2-TGUlwu4"
            frameborder="0"
            class="post__youtube"
            allowfullscreen
          ></iframe>
        </div>

        <blockquote class="post__quote">
          nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan nyan 
        </blockquote>

        <p class="post__paragraph">At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat…</p>

        <h6 class="post__tag">Tagged in:
          <a routerLink="/blog/posts">#cat</a>
        </h6>
      </div>
    </admin-panel>
  </ng-template>
</admin-grid>
