.form-buttons {
  text-align: right;
}

.form-submit-button {
  margin-left: 5px;
}

/* Work around a bootstrap issue with default top: 25px */
.has-feedback label ~ .form-control-feedback {
  top: 28px;
}

/* Make input-group-btn works with admin-button component */
.form-group .input-group .input-group-btn {
  font-size: inherit;

  /deep/ .btn-group--split {
    display: flex;
  }

  /deep/ admin-button .btn {
    border-radius: 0;
  }

  &:first-child /deep/ .btn {
    margin-right: -2px;

    &:first-of-type {
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
    }
  }

  &:last-child /deep/ .btn {
    margin-left: -2px;

    &:last-of-type {
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
    }
  }
}

/* some customizations for bootstrap form controls */
.form-control {
  border-width: 2px;
}

.default-form .form-control:focus {
  border-color: #55c9a6;
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(#55c9a6, 0.6);
}

.horizontal-form .form-control:focus {
  border-color: #4a90e2;
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(#4a90e2, 0.6);
}

.input-groups-form .form-control:focus {
  border-color: #ea7882;
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(#ea7882, 0.6);
}

.sizing-form .form-control:focus {
  border-color: #b4a1dd;
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(#b4a1dd, 0.6);
}
