<div class="form-group" *ngIf="geocode">
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-tags"></span>
    </span>
    <input
      type="text"
      class="form-control"
      placeholder="Search..."
      (keyup)="onKeyup(geocode.value)"
      #geocode
    >
  </div>
</div>

<div #div></div>

<div class="route-control">
  <admin-button
    *ngIf="route"
    (click)="startRouting()"
    [disabled]="routingStarted"
    tag="primary"
    [outlined]="true"
  >Start routing</admin-button>
</div>
