<nav class="sidenav">
  <ul>
    <li>
      <a routerLink="/dashboard">Dashboard</a>
    </li>
    <li>
      Mailbox
      <ul>
        <li>
          <a routerLink="/mailbox/inbox">Inbox</a>
        </li>
        <li>
          <a routerLink="/mailbox/mail">Mail</a>
        </li>
        <li>
          <a routerLink="/mailbox/compose">Compose</a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/gallery">Gallery</a>
    </li>
    <li>
      <a routerLink="/social">Social</a>
    </li>
    <li>
      Blog
      <ul>
        <li>
          <a routerLink="/blog/posts">Posts</a>
        </li>
        <li>
          <a routerLink="/blog/post">Single Post</a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/panels">Panels</a>
    </li>
    <li>
      Charts
      <ul>
        <li>
          <a routerLink="/charts/chartjs">Chart.JS</a>
        </li>
        <li>
          <a routerLink="/charts/c3js">C3.JS</a>
        </li>
        <li>
          <a routerLink="/charts/morrisjs">Morris.JS</a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/static-timeline">Static timeline</a>
    </li>
    <li>
      <a routerLink="/interactive-timeline">Interactive Timeline</a>
    </li>
    <li>
      <a routerLink="/codemirror">Codemirror</a>
    </li>
    <li>
      <a routerLink="/maps">Maps</a>
    </li>
    <li>
      <a routerLink="/editor">Editor</a>
    </li>
    <li>
      UI Elements
      <ul>
        <li>
          <a routerLink="/ui-elements/buttons">Buttons</a>
        </li>
        <li>
          <a routerLink="/ui-elements/dropdowns">Dropdowns</a>
        </li>
        <li>
          <a routerLink="/ui-elements/tabs-and-navs">Tabs &amp; Navs</a>
        </li>
        <li>
          <a routerLink="/ui-elements/sliders">Sliders</a>
        </li>
        <li>
          <a routerLink="/ui-elements/knobs">Knobs</a>
        </li>
        <li>
          <a routerLink="/ui-elements/modals">Modals</a>
        </li>
        <li>
          <a routerLink="/ui-elements/messenger">Messenger</a>
        </li>
      </ul>
    </li>
    <li>
      Forms
      <ul>
        <li>
          <a routerLink="/forms/controls">Controls</a>
        </li>
        <li>
          <a routerLink="/forms/x-editable">X-Editable</a>
        </li>
        <li>
          <a routerLink="/forms/wizard">Wizard</a>
        </li>
      </ul>
    </li>
    <li>
      Tables
      <ul>
        <li>
          <a routerLink="/tables/bootstrap-tables">Bootstrap Tables</a>
        </li>
        <li>
          <a routerLink="/tables/datatables">Datatables</a>
        </li>
        <li>
          <a routerLink="/tables/tablesaw">Tablesaw</a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/grid">Grid</a>
    </li>
    <li>
      <a routerLink="/calendar">Calendar</a>
    </li>
    <li>
      File Utilities
      <ul>
        <li>
          <a routerLink="/file-utilities/dropzone">Dropzone</a>
        </li>
        <li>
          <a routerLink="/file-utilities/image-cropping">Image Cropping</a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/fonts">Fonts</a>
    </li>
    <li>
      <a routerLink="/login">Login</a>
    </li>
    <li>
      <a routerLink="/signup">Signup</a>
    </li>
    <li>
      <a routerLink="/lock">Lock Page</a>
    </li>
    <li>
      <a routerLink="/invoice">Invoice</a>
    </li>
    <li>
      <a routerLink="/pricing">Pricing Tables</a>
    </li>
  </ul>
</nav>
