@import '../../styles/colors';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.sidenav {
  background-color: rgb(76, 93, 103);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidenav__user {
  display: flex;
  padding: 20px;
  height: 75px;
  width: 100%;
}

.sidenav__user-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.sidenav__user-info {
  margin: 0 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidenav__user-name {
  color: #fff;
}

.sidenav__user-experience-bar {
  width: 100%;
  height: 5px;
  background-color: rgba(0, 0, 0, .2);
}

.sidenav__user-filled-experience {
  width: 40%;
  height: 5px;
  background-color: #fff;
}

.sidenav__user-lock {
  background: none;
  border: none;
  color: #000;
  opacity: .3;
  transition: opacity .15s cubic-bezier(.4, 0, .2, 1);
  padding: 5px;

  &:hover {
    opacity: .5;
  }
}

.sidenav__tab {
  border-right: 1px solid rgba(0, 0, 0, .12);
  color: rgba(0, 0, 0, .2);
  height: 100%;
  flex: 1;

  &:last-child {
    border-right: none;
  }
}

.sidenav__tab-icon {
  color: rgba(0, 0, 0, .38);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &,
  &:active,
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    background-color: rgba(0, 0, 0, .1);
  }
}

.active .sidenav__tab-icon {
  background-color: rgba(0, 0, 0, .38);
}

.sidenav__tabs {
  list-style: none;
  display: flex;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 0;
}

@each $name, $color in $colors {
  .sidenav--#{$name} {
    .sidenav__user {
      background-color: $color;
    }

    .sidenav__tabs {
      background-color: rgba($color, .8);
    }

    .active .sidenav__tab-icon {
      color: rgba($color, .8);
    }

    /deep/ .links__link-item--active,
    /deep/ .links__child-link-item--active {
      border-color: $color;
    }
  }
}

.sidenav__content {
  overflow-y: auto;
  flex: 1;
  min-height: 0;
}
