<admin-grid [cols]="[4, 4, 4]">
  <ng-template>
    <admin-panel>
      <h3>Basic Panel</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </admin-panel>

    <admin-panel [showHeader]="true" [showFooter]="true">
      <header>
        <h3>Panel Header</h3>
        <h6>Mini Heading</h6>
      </header>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <footer>
        <h3>Panel Footer</h3>
        <h6>Mini Heading</h6>
      </footer>
    </admin-panel>
  </ng-template>

  <ng-template>
    <admin-panel [showFooter]="true" footerColor="#ea7882">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <footer>
        <h3>Panel body + footer without panel header</h3>
        <h6>Mini Heading</h6>
      </footer>
    </admin-panel>

    <admin-panel
      [tabbed]="true"
      [showHeader]="true"
      [showFooter]="true"
      headerColor="#b4a1dd"
      footerColor="#b4a1dd"
    >
      <header>
        <h3>Panel header + tabs</h3>
      </header>

      <admin-tab
        color="purple"
        [pills]="true"
        [inverse]="true"
        [justified]="true"
        [tabs]="[
          { name: '1', content: 'The first tab' },
          { name: '2', content: 'The second tab' },
          { name: '3', content: 'The third tab' }
        ]"
      ></admin-tab>

      <footer>
        <h3>Panel footer</h3>
        <h6>Mini heading</h6>
      </footer>
    </admin-panel>
  </ng-template>

  <ng-template>
    <admin-panel [showHeader]="true" headerColor="rgb(85, 201, 166)">
      <header>
        <h3>Panel body + header without panel footer</h3>
        <h6>Mini Heading</h6>
      </header>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </admin-panel>

    <admin-panel [tabbed]="true" [showFooter]="true" footerColor="#debc85">
      <admin-tab
        color="paleyellow"
        [pills]="true"
        [inverse]="true"
        [reversed]="true"
        [justified]="true"
        [tabs]="[
          { name: '1', content: 'The first tab' },
          { name: '2', content: 'The second tab' },
          { name: '3', content: 'The third tab' }
        ]"
      ></admin-tab>
      <footer>Panel footer + tabs</footer>
    </admin-panel>
  </ng-template>
</admin-grid>

<admin-grid [cols]="[6, 6]">
  <ng-template>
    <admin-panel
      [tabbed]="true"
      [showHeader]="true"
      [showFooter]="true"
      headerColor="#e299b7"
      footerColor="#e299b7"
    >
      <header><h3>Header of stacked tabs</h3></header>
      <admin-tab
        color="pink"
        [pills]="true"
        [inverse]="true"
        [stacked]="true"
        [justified]="true"
        [tabs]="[
          { name: '1', content: 'The first tab' },
          { name: '2', content: 'The second tab' },
          { name: '3', content: 'The third tab' }
        ]"
      ></admin-tab>
      <footer><h6>Some footer</h6></footer>
    </admin-panel>
  </ng-template>

  <ng-template>
    <admin-panel
      [tabbed]="true"
      [showHeader]="true"
      [showFooter]="true"
      headerColor="#92bdc1"
      footerColor="#92bdc1"
    >
      <header><h3>Stacked tabs on the right</h3></header>
      <admin-tab
        color="grayishcyan"
        [pills]="true"
        [inverse]="true"
        [stacked]="true"
        [reversed]="true"
        [justified]="true"
        [tabs]="[
          { name: '1', content: 'The first tab' },
          { name: '2', content: 'The second tab' },
          { name: '3', content: 'The third tab' }
        ]"
      ></admin-tab>
      <footer><h6>Some footer</h6></footer>
    </admin-panel>
  </ng-template>
</admin-grid>
