.revenue {
  display: flex;
}

.revenue__stats {
  flex: 0 1 30%;
  background-color: rgb(160, 223, 204);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.revenue__graph {
  flex: 1 1 auto;
  background-color: rgb(85, 201, 166);
  min-width: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.revenue__stats {
  color: rgba(0, 0, 0, .38);
  text-align: center;
}

.revenue__gross {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  width: 100%;
}

.revenue__graph-title {
  color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
